<div class="container">
    <nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mongo Scraper</a>
    <a class="navbar-brand" href="index.html">Home</a>
    <a class="navbar-brand" href="savedArticles.html">Saved Articles</a>
    <button class="btn float-left" id="scrape">Scrape New Articles</button>
    <button class="btn float-left" id="clear">Clear Articles</button>
  </nav>

  <div class="bg"></div>
  <div class="jumbotron jumbotron-fluid">
    <h1>Mongo Scraper</h1>
    <h4>National Public Radio Edition</h4>
  </div>

  <br>
  {{#each articles}}
    {{#unless saved}}
      <div class="card">
        <div class="card-header">
            <h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.link}}">{{this.title}}</a><a class="btn mt-auto btn-light btn-outline-dark float-right save">Save Article</a></h3>
        </div>
        <div class="card-body flex-column">
          <p class="card-text">{{this.teaser}}</p>
        </div>
      </div>
    {{/unless}}
  {{/each}}

</div>